.git
.gitignore
.gcloudignore
__pycache__/
*.log
backup_*/
seen.json*
token.pickle
credentials.json
venv/
.env
.ipynb_checkpoints/
node_modules/
dist/
build/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
